.ReviewOrigin {
  background: hsl(45, 19%, 99%);
  border-bottom: 1px solid hsl(45, 35%, 92%);
  display: block;
  font-size: small;
  line-height: 1.3;
  padding: 16px;
  text-align: center;
}

.ReviewOrigin-Upstream {
  font-weight: 600;
}
